@import url('./Login.css'); /* Reutiliza colores con :root */

.registro-screen {
  display: flex;
  height: 100vh;
  background-color: var(--color-secundario);
}

.registro-form {
  width: 50%;
  background-color: var(--color-secundario);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.registro-icon {
  font-size: 40px;
  color: var(--color-acento);
  margin-bottom: 10px;
}

.registro-form h2 {
  color: var(--color-primario);
  margin-bottom: 20px;
}

.registro-form input {
  width: 300px;
  padding: 10px;
  border: 2px solid var(--color-primario);
  border-radius: 6px;
}

.registro-form label {
  font-weight: bold;
  color: var(--texto-principal);
  width: 300px;
  text-align: left;
  margin-top: 10px;
}

.btn-registrar {
  background-color: var(--color-primario);
  color: white;
  padding: 12px;
  width: 300px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
}

.registro-lateral {
  width: 50%;
  background-color: var(--color-secundario);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  position: relative;
}

.logo-img {
  width: 90px;
}

.titulo-logo {
  color: var(--texto-principal);
  font-size: 32px;
  text-align: center;
}

.titulo-logo span {
  color: var(--color-acento);
  font-size: 24px;
}

/* Onda decorativa */
.custom-shape-divider-bottom-1747431304 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1747431304 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 188px;
}

.custom-shape-divider-bottom-1747431304 .shape-fill {
  fill: #D94F4F;
}
@media (max-width: 768px) {
  .login-screen {
    flex-direction: column;
  }

  html, body {
  height: 100%;
  width: 100%;
}
}